name: SonarCloud Scan (Maven, Java 21)

on:
  push:
    branches: ["main", "master"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  PROJECT_KEY: thiagolinoz_FastFoodProdutos
  SONARCLOUD_ORGANIZATION: thiagolinoz
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

jobs:
  build-and-analyze:
    name: Build and SonarCloud Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build, Test and Analyze
        run: |
          mvn -B clean verify sonar:sonar \
            -Dsonar.projectKey=${{ env.PROJECT_KEY }} \
            -Dsonar.organization=${{ env.SONARCLOUD_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
